.login {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #01161E;
    font-family: Arial, sans-serif;
    color: #EFF6E0;
}
.login-box {
    background: rgb(0, 0, 0);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #0f0;
    box-shadow: 0 0 20px #0f0;
    width: 50%;
}
input {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    border: none;
    outline: none;
}
button {
    padding: 10px 20px;
    background: #0f0;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
button:hover {
    background: #afffaf;
}


.term {
    background: black;
    color: #0f0;
    font-family: "Courier New", monospace;
    margin: 0;
    padding: 20px;
    overflow: hidden;
}

#terminal {
    background-color: rgba(39, 39, 39, 0.5);
    text-align: left;
    white-space: pre-wrap;
    font-size: 18px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 0 20px #0f0;
    border: 1px solid #0f0;
    color: white;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}