body {
    margin: 0;
    padding-top: 60px;
}

.Nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #AEC3B0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    height: 60px;
}

.Nav a {
    text-decoration: none;
    color: #124559;
    font-size: 18px;
    margin: 15px;
    padding: 10px;
    transition: background-color 0.3s;
}

.Nav a:hover {
    background-color: #01161E;
    color: #EFF6E0;
    border-radius: 5px;
}

.Nav .logo {
    font-size: 24px;
    font-weight: bold;
    color: #124559;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

#Liens {
    display: flex;
    align-items: center;
    right: 20rem;
}

#Liens a {
    display: block;
    padding: 10px 20px;
    color: #124559;
    text-decoration: none;
}

#Liens a:hover {
    background-color: #01161E;
    color: #EFF6E0;
}

@media screen and (max-width: 768px) {
    .Nav {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    #Liens {
        display: flex;
        width: auto;
    }

    #Liens a {
        padding: 10px 15px;
    }

    .MenuB {
        display: none;
    }
}