@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #964484;
    color: #EFF6E0;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

.INTRO {
    background-color: #01161E;
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}

.INTRO h1 {
    position: absolute;
    top: 0.25rem;
    font-size: 50px;
}

.INTRO h2 {
    position: absolute;
    top: 15vh;
}

.INTRO h3 {
    position: absolute;
    top: 20vh;
}

.INTRO img {
    z-index: 1;
    position: absolute;
    top: 40vh;
    height: 25%;
}

.INTRO p {
    position: absolute;
    top: 85vh;
    left: 6rem;
    right: 6rem;
    font-size: 20px;
}

.QUOI {
    background-color: #598392;
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}

.QUOI h3 {
    position: absolute;
    top: 2vh;
    font-size: 50px;
}

.QUOI p {
    position: absolute;
    top: 25vh;
    left: 6rem;
    right: 60rem;
    font-size: 75px;
}

.QUOI ul {
    position: absolute;
    top: 25vh;
    left: 60rem;
    right: 6rem;
    font-size: 45px;
}

.EXPLI {
    background-color: #01161E;
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}

.EXPLI h3 {
    position: absolute;
    bottom: 5vh;
    font-size: 100px;
}

.EXPLI .T {
    list-style-type: none;
    text-decoration: n;
    position: absolute;
    top: 10rem;
    left: 5rem;
    width: 25%;
    font-size: 30px;
}

.EXPLI .U {
    list-style-type: none;
    position: absolute;
    top: 10rem;
    left: 45rem;
    width: 25%;
    font-size: 30px;
}

.EXPLI .P {
    list-style-type: none;
    position: absolute;
    top: 10rem;
    left: 85rem;
    width: 25%;
    font-size: 30px;
}

.DEROU {
    background-color: #124559;
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}

.DEROU h3 {
    position: absolute;
    top: 2vh;
    font-size: 60px;
}

.DEROU #PAR {
    position: absolute;
    top: 15vh;
    font-size: 40px;
}

.DEROU .T {
    text-decoration: none;
    position: absolute;
    top: 25rem;
    left: 5rem;
    width: 25%;
    font-size: 30px;
}

.DEROU .U {
    text-decoration: none;
    position: absolute;
    top: 25rem;
    left: 45rem;
    width: 25%;
    font-size: 30px;
}

.DEROU .P {
    text-decoration: none;
    position: absolute;
    top: 25rem;
    left: 85rem;
    width: 25%;
    font-size: 30px;
}

.QUIZ {
    background-color: #EFF6E0;
    color: #598392;
    position: relative;
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
}

.QUIZ h3 {
    position: absolute;
    top: 2vh;
    font-size: 60px;
}

.QUIZ .EX {
    position: absolute;
    top: 25vh;
    left: 6rem;
    right: 60rem;
    font-size: 55px;
}

.QUIZ h4 {
    position: absolute;
    top: 20vh;
    right: 10rem;
    font-size: 30px;
}

.QUIZ .LIP {
    position: absolute;
    top: 35vh;
    right: 30rem;
    font-size: 30px;
}

.QUIZ .LIL {
    position: absolute;
    top: 40vh;
    right: 5rem;
    font-size: 30px;
}

.QUIZ .FEUR {
    position: absolute;
    top: 65vh;
    right: 30rem;
    font-size: 30px;
}

.QUIZ #BTN {
    position: absolute;
    top: 75vh;
    left: 6rem;
    right: 6rem;
    border: 2px dashed yellow;
}


@media (max-width: 1080px) {
    .INTRO h1 {
        font-size: 35px;
    }
    .INTRO h2 {
        top: 10vh;
        font-size: 30px;
    }
    .INTRO h3 {
        top: 15vh;
        font-size: 30px;
    }
    .INTRO img {
        top: 50vh;
        height: 20%;
    }
    .INTRO p {
        top: 80vh;
        left: 2rem;
        right: 2rem;
        font-size: 16px;
    }

    .QUOI h3 {
        top: 2vh;
        font-size: 35px;
    }
    .QUOI p {
        top: 10vh;
        left: 2rem;
        right: 2rem;
        font-size: 50px;
    }
    .QUOI ul {
        top: 40vh;
        left: 2rem;
        right: 2rem;
        font-size: 30px;
    }

    .EXPLI h3 {
        top: 0rem;
        font-size: 40px;
    }
    .EXPLI .T{
        top: 10rem;
        left: 2rem;
        width: 100%;
        font-size: 20px;
    }

    .EXPLI .U{
        top: 25rem;
        left: 2rem;
        width: 100%;
        font-size: 20px;
    }

    .EXPLI .P {
        top: 40rem;
        left: 2rem;
        width: 100%;
        font-size: 20px;
    }

    .DEROU h3 {
        top: 2vh;
        font-size: 40px;
    }
    .DEROU #PAR {
        top: 15vh;
        font-size: 30px;
    }
    .DEROU .T{
        top: 15rem;
        left: 2rem;
        width: 100%;
        font-size: 20px;
    }

    .DEROU .U {
        top: 25rem;
        left: 2rem;
        width: 100%;
        font-size: 20px;
    }

    .DEROU .P {
        top: 42.5rem;
        left: 2rem;
        width: 100%;
        font-size: 20px;
    }

    .QUIZ h3 {
        top: 2vh;
        font-size: 40px;
    }
    .QUIZ .EX {
        top: 20vh;
        left: 2rem;
        right: 25rem;
        font-size: 25px;
    }
    .QUIZ h4 {
        top: 35vh;
        right: 2rem;
        font-size: 25px;
    }
    .QUIZ .LIP {
        top: 45vh;
        right: 10rem;
        font-size: 25px;
    }
    .QUIZ .LIL {
        top: 50vh;
        right: 2rem;
        font-size: 25px;
    }
    .QUIZ .FEUR {
        top: 67vh;
        left: 2rem;
        right: 2rem;
        font-size: 20px;
    }
    .QUIZ #BTN {
        top: 75vh;
        left: 2rem;
        right: 2rem;
        border: 2px dashed yellow;
    }
}

@media (max-width: 768px) {
    .INTRO h1 {
        font-size: 30px;
    }
    .INTRO h2 {
        top: 10vh;
        font-size: 25px;
    }
    .INTRO h3 {
        top: 20vh;
        font-size: 20px;
    }
    .INTRO img {
        top: 40vh;
        height: 15%;
    }

    .EXPLI h3 {
        font-size: 30px;
    }
    .EXPLI .T{
        width: 90%;
    }

    .EXPLI .U{
        width: 90%;
    }

    .EXPLI .P {
        width: 90%;
    }

    .DEROU .T{
        width: 90%;
    }

    .QUIZ .EX {
        top: 10vh;
    }

}