@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #01161E;
    color: #EFF6E0;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}